<style>
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}
.form-container {
    max-width: 675px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-header {
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}
.form-group {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-row {
    display: flex;
    font-size: 40px;
    justify-content: space-between;
    font-weight: bold;
}
.form-row .form-group {
    width: 48%;
}
.photo-upload { 
    float: right;
    position: absolute;
    margin: auto;
    margin-bottom: 5px;
    text-align: right;
    font-weight: bold;
    width: 90px;
    height: 80px;
    display: block;
    border: 1px solid black;
}
.photo-upload img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}
.submit-button {
    text-align: center;
    margin-top: 20px;
}
.submit-button button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-button button:hover {
    background-color: #0056b3;
}
.download-link {
    text-align: center;
    margin-top: 10px;
}
.download-link a {
    color: #007bff;
    text-decoration: none;
}
.download-link a:hover {
    text-decoration: underline;
}
</style>